Thyroid Data Wrangling

Initial set up

In [3]:
# Import Common Libraries 
import pandas as pd
import numpy as np

In [4]:
# Load Data
file_path = "Thyroid_Diff.csv"
df = pd.read_csv(file_path)

Quick Explore

In [5]:
# Display the first few rows
df.head()

,Age,Gender,Smoking,Hx Smoking,Hx Radiothreapy,Thyroid Function,Physical Examination,Adenopathy,Pathology,Focality,Risk,T,N,M,Stage,Response,Recurred
0,27,F,No,No,No,Euthyroid,Single nodular goiter-left,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Indeterminate,No
1,34,F,No,Yes,No,Euthyroid,Multinodular goiter,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,No
2,30,F,No,No,No,Euthyroid,Single nodular goiter-right,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,No
3,62,F,No,No,No,Euthyroid,Single nodular goiter-right,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,No
4,62,F,No,No,No,Euthyroid,Multinodular goiter,No,Micropapillary,Multi-Focal,Low,T1a,N0,M0,I,Excellent,No

In [6]:
# Display the last few rows
df.tail()

,Age,Gender,Smoking,Hx Smoking,Hx Radiothreapy,Thyroid Function,Physical Examination,Adenopathy,Pathology,Focality,Risk,T,N,M,Stage,Response,Recurred
378,72,M,Yes,Yes,Yes,Euthyroid,Single nodular goiter-right,Right,Papillary,Uni-Focal,High,T4b,N1b,M1,IVB,Biochemical Incomplete,Yes
379,81,M,Yes,No,Yes,Euthyroid,Multinodular goiter,Extensive,Papillary,Multi-Focal,High,T4b,N1b,M1,IVB,Structural Incomplete,Yes
380,72,M,Yes,Yes,No,Euthyroid,Multinodular goiter,Bilateral,Papillary,Multi-Focal,High,T4b,N1b,M1,IVB,Structural Incomplete,Yes
381,61,M,Yes,Yes,Yes,Clinical Hyperthyroidism,Multinodular goiter,Extensive,Hurthel cell,Multi-Focal,High,T4b,N1b,M0,IVA,Structural Incomplete,Yes
382,67,M,Yes,No,No,Euthyroid,Multinodular goiter,Bilateral,Papillary,Multi-Focal,High,T4b,N1b,M0,IVA,Structural Incomplete,Yes

In [7]:
# get random sample of df 

'''
# Get random rows
df.sample(n=5, random_state=42)

# Get 10% of rows randomly
df.sample(frac=0.01,random_state=42)

# To get stratified sample based on a column
df.groupby('column_name').sample(n=2)

# get remaining samples
remaining = df.drop(sample.index)
'''

df.sample(n=5, random_state=42)

,Age,Gender,Smoking,Hx Smoking,Hx Radiothreapy,Thyroid Function,Physical Examination,Adenopathy,Pathology,Focality,Risk,T,N,M,Stage,Response,Recurred
268,32,F,No,No,No,Euthyroid,Single nodular goiter-left,No,Papillary,Uni-Focal,Low,T3a,N0,M0,I,Excellent,No
250,30,F,No,No,No,Subclinical Hypothyroidism,Normal,Right,Follicular,Uni-Focal,Low,T3a,N0,M0,I,Excellent,No
318,30,F,No,No,No,Euthyroid,Multinodular goiter,Bilateral,Papillary,Multi-Focal,Intermediate,T3a,N1b,M0,I,Structural Incomplete,Yes
331,51,F,No,No,No,Euthyroid,Single nodular goiter-left,No,Follicular,Uni-Focal,Intermediate,T3a,N0,M0,I,Structural Incomplete,Yes
56,43,F,No,Yes,No,Euthyroid,Single nodular goiter-right,No,Papillary,Uni-Focal,Low,T1b,N0,M0,I,Excellent,No

In [8]:
# Display column names and data types
    # there are 383 entries and each columns's non null count are 383 so no null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383 entries, 0 to 382
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   383 non-null    int64
 1   Gender                383 non-null    object
 2   Smoking               383 non-null    object
 3   Hx Smoking            383 non-null    object
 4   Hx Radiothreapy       383 non-null    object
 5   Thyroid Function      383 non-null    object
 6   Physical Examination  383 non-null    object
 7   Adenopathy            383 non-null    object
 8   Pathology             383 non-null    object
 9   Focality              383 non-null    object
 10  Risk                  383 non-null    object
 11  T                     383 non-null    object
 12  N                     383 non-null    object
 13  M                     383 non-null    object
 14  Stage                 383 non-null    object
 15  Response              383 non-null    object
 16  Recurred              383 non-null    object
dtypes: int64(1), object(16)
memory usage: 51.0+ KB

In [9]:
# Get the shape of the DataFrame
print(df.shape)

(383, 17)

In [10]:
# reshape
    # not needed
'''
melted_df = pd.melt(df, id_vars=['id'], value_vars=['col1', 'col2'])
pivoted_df = melted_df.pivot(index='id', columns='variable', values='value')
'''

"\nmelted_df = pd.melt(df, id_vars=['id'], value_vars=['col1', 'col2'])\npivoted_df = melted_df.pivot(index='id', columns='variable', values='value')\n"

In [11]:
# Display basic statistical details
    # 'count' is useless but the rest of the descriptive statistics may be useful
df.describe()

              Age
count  383.000000
mean    40.866841
std     15.134494
min     15.000000
25%     29.000000
50%     37.000000
75%     51.000000
max     82.000000

Handle Missing Data

In [12]:
# double Check for missing values
    # double check and looks like no null values
df.isnull().sum()

Age                     0
Gender                  0
Smoking                 0
Hx Smoking              0
Hx Radiothreapy         0
Thyroid Function        0
Physical Examination    0
Adenopathy              0
Pathology               0
Focality                0
Risk                    0
T                       0
N                       0
M                       0
Stage                   0
Response                0
Recurred                0
dtype: int64

In [13]:
# fill in missing values
    # not needed as no missing values
'''
# Fill missing values with a specific value
df['column_name'].fillna(value, inplace=True)

# Fill missing values with the mean, median, or mode
df['column_name'].fillna(df['column_name'].mean(), inplace=True)

# Drop rows or columns with missing values
df.dropna(axis=0, inplace=True)  # Drop rows
df.dropna(axis=1, inplace=True)  # Drop columns
'''

"\n# Fill missing values with a specific value\ndf['column_name'].fillna(value, inplace=True)\n\n# Fill missing values with the mean, median, or mode\ndf['column_name'].fillna(df['column_name'].mean(), inplace=True)\n\n# Drop rows or columns with missing values\ndf.dropna(axis=0, inplace=True)  # Drop rows\ndf.dropna(axis=1, inplace=True)  # Drop columns\n"

Handle Duplicates

In [14]:
# Check for duplicates
df.duplicated().sum()

19

In [15]:
# Display all duplicate rows
    # appears all the duplicates are real data. It's because they don't have the names of the patients due to patient privacy, thus some data look similar.
    # of course this is just an assumption, but will continue with the data under this assumption.
df_duplicates = df[df.duplicated()]
df_duplicates.head()

,Age,Gender,Smoking,Hx Smoking,Hx Radiothreapy,Thyroid Function,Physical Examination,Adenopathy,Pathology,Focality,Risk,T,N,M,Stage,Response,Recurred
32,36,F,No,No,No,Euthyroid,Single nodular goiter-right,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,No
38,40,F,No,No,No,Euthyroid,Single nodular goiter-right,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,No
40,51,F,No,No,No,Euthyroid,Single nodular goiter-right,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,No
66,35,F,No,No,No,Euthyroid,Single nodular goiter-right,No,Papillary,Uni-Focal,Low,T1b,N0,M0,I,Excellent,No
69,51,F,No,No,No,Euthyroid,Single nodular goiter-left,No,Papillary,Uni-Focal,Low,T1b,N0,M0,I,Excellent,No

In [16]:
# Drop duplicates
    # not needed as assume no duplicate data
'''
df.drop_duplicates(inplace=True)
'''

'\ndf.drop_duplicates(inplace=True)\n'

Renaming

In [23]:
# renaming
    # I replaced the space with an underscore in all column names
    # I correct the typo in 'Hx Radiothreapy'
    # I changed 'Recurred' to 'Recurrence' which is proper and removes ambiguity for people with medical knowledge.
'''
# override all column names
df.columns = ['col1', 'col2', 'col3']
'''

# Rename specific columns
df.rename(columns={
    'Hx Smoking': 'Hx_Smoking',
    'Hx Radiothreapy': 'Hx_Radiotherapy',
    'Thyroid Function': 'Thyroid_Function',
    'Physical Examination': 'Physical_Examination',
    'Recurred':'Recurrence'
    }, inplace=True)

In [24]:
# check if columns are renamed
    # using pd.series as like how it looks in a vertical column 
pd.Series(df.columns)

0                      Age
1                   Gender
2                  Smoking
3               Hx_Smoking
4          Hx_Radiotherapy
5         Thyroid_Function
6     Physical_Examination
7               Adenopathy
8                Pathology
9                 Focality
10                    Risk
11                       T
12                       N
13                       M
14                   Stage
15                Response
16              Recurrence
dtype: object

In [34]:
df.head(2) # easier to see the column name and if candadiate for yes or no conversion, as use column name to copy paste in the next function.

,Age,Gender,Smoking,Hx_Smoking,Hx_Radiotherapy,Thyroid_Function,Physical_Examination,Adenopathy,Pathology,Focality,Risk,T,N,M,Stage,Response,Recurrence
0,27,F,No,No,No,Euthyroid,Single nodular goiter-left,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Indeterminate,No
1,34,F,No,Yes,No,Euthyroid,Multinodular goiter,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,No

Change Data Types

In [31]:
# old methods
'''
df['Smoking'].replace({'Yes': 1, 'No': 0}, inplace=True) 
df['column_name'] = df['column_name'].astype('int')
df['column_name'] = pd.to_datetime(df['column_name'])
'''

# Convert 'yes' or 'no' in column to binary 1 or 0
def convert_column_binary(df, col_name):
    incompatibles = []  # List to record incompatible values (as tuples)
    incompatible_rows = []  # List to record rows with incompatible values

    # Iterate through the dataframe
    for idx, value in df[col_name].items():
        # Strip spaces and convert to lowercase for comparison
        cleaned_value = str(value).strip().lower()
        
        # Check for incompatible values
        if cleaned_value not in ['yes', 'no', '1', '0']:
            incompatibles.append((idx, value))  # Record incompatible value with row index
            incompatible_rows.append(idx)  # Record row index of incompatible value
    
    # If there is at least one incompatible value, return the original dataframe and lists
    if incompatibles:
        print(f'{col_name} column has {len(incompatible_rows)} incompatible rows')
        return df, incompatibles, incompatible_rows
    
    # Otherwise, replace 'yes' with 1, 'no' with 0 in the column
    df[col_name] = df[col_name].apply(lambda x: 1 if str(x).strip().lower() == 'yes' else (0 if str(x).strip().lower() == 'no' else x))
    
    # Convert the column data type to int if no incompatibles
    df[col_name] = df[col_name].astype(int)
    
    # Return the updated dataframe and the lists of incompatibles
    return df, incompatibles, incompatible_rows

In [42]:
# Convert these 'yes' 'no columns into binary '1s' '0s' as to make future data science tasks easier
    # appears 'Adenopathy' has more values then 'yes' and 'no' so will leave it as is. 

df, incompatibles, incompatible_rows = convert_column_binary(df, 'Smoking')
df, incompatibles, incompatible_rows = convert_column_binary(df, 'Hx_Smoking')
df, incompatibles, incompatible_rows = convert_column_binary(df, 'Hx_Radiotherapy')
df, incompatibles, incompatible_rows = convert_column_binary(df, 'Adenopathy')
df, incompatibles, incompatible_rows = convert_column_binary(df, 'Recurrence')

Adenopathy column has 106 incompatible rows

In [43]:
df.head()

,Age,Gender,Smoking,Hx_Smoking,Hx_Radiotherapy,Thyroid_Function,Physical_Examination,Adenopathy,Pathology,Focality,Risk,T,N,M,Stage,Response,Recurrence
0,27,F,0,0,0,Euthyroid,Single nodular goiter-left,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Indeterminate,0
1,34,F,0,1,0,Euthyroid,Multinodular goiter,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,0
2,30,F,0,0,0,Euthyroid,Single nodular goiter-right,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,0
3,62,F,0,0,0,Euthyroid,Single nodular goiter-right,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,0
4,62,F,0,0,0,Euthyroid,Multinodular goiter,No,Micropapillary,Multi-Focal,Low,T1a,N0,M0,I,Excellent,0

In [44]:
df.tail()

,Age,Gender,Smoking,Hx_Smoking,Hx_Radiotherapy,Thyroid_Function,Physical_Examination,Adenopathy,Pathology,Focality,Risk,T,N,M,Stage,Response,Recurrence
378,72,M,1,1,1,Euthyroid,Single nodular goiter-right,Right,Papillary,Uni-Focal,High,T4b,N1b,M1,IVB,Biochemical Incomplete,1
379,81,M,1,0,1,Euthyroid,Multinodular goiter,Extensive,Papillary,Multi-Focal,High,T4b,N1b,M1,IVB,Structural Incomplete,1
380,72,M,1,1,0,Euthyroid,Multinodular goiter,Bilateral,Papillary,Multi-Focal,High,T4b,N1b,M1,IVB,Structural Incomplete,1
381,61,M,1,1,1,Clinical Hyperthyroidism,Multinodular goiter,Extensive,Hurthel cell,Multi-Focal,High,T4b,N1b,M0,IVA,Structural Incomplete,1
382,67,M,1,0,0,Euthyroid,Multinodular goiter,Bilateral,Papillary,Multi-Focal,High,T4b,N1b,M0,IVA,Structural Incomplete,1

In [46]:
df.info() # see all the binary columns has their dtypes converted to int32

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383 entries, 0 to 382
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   383 non-null    int64
 1   Gender                383 non-null    object
 2   Smoking               383 non-null    int32
 3   Hx_Smoking            383 non-null    int32
 4   Hx_Radiotherapy       383 non-null    int32
 5   Thyroid_Function      383 non-null    object
 6   Physical_Examination  383 non-null    object
 7   Adenopathy            383 non-null    object
 8   Pathology             383 non-null    object
 9   Focality              383 non-null    object
 10  Risk                  383 non-null    object
 11  T                     383 non-null    object
 12  N                     383 non-null    object
 13  M                     383 non-null    object
 14  Stage                 383 non-null    object
 15  Response              383 non-null    object
 16  Recurrence            383 non-null    int32
dtypes: int32(4), int64(1), object(12)
memory usage: 45.0+ KB

Filter Data

In [ ]:
# Filter data
    # not needed
'''filtered_df = df[df['column_name'] > value]'''

Export Clean Data

In [ ]:
# Save the cleaned DataFrame to a new CSV file
df.to_csv('Thyroid_Diff_cleaned.csv', index=False)

Fix Data Types

In [ ]:
# fix datetime
'''df_PreDataWrangle['date_column'] = pd.to_datetime(df_PreDataWrangle['date_column'])'''

In [ ]:
# change column data type
'''df_PreDataWrangle['category_column'] = df_PreDataWrangle['category_column'].astype('category') '''

Handle Outliers

In [ ]:
# Example: Removing outliers using IQR
'''
Q1 = df_PreDataWrangle['numerical_column'].quantile(0.25)
Q3 = df_PreDataWrangle['numerical_column'].quantile(0.75)
IQR = Q3 - Q1
df_PreDataWrangle = df_PreDataWrangle[~((df_PreDataWrangle['numerical_column'] < (Q1 - 1.5 * IQR)) |
                              (df_PreDataWrangle['numerical_column'] > (Q3 + 1.5 * IQR)))]
                              '''

Feature Engineering

In [ ]:
# Example: Create a new column
'''df_PreDataWrangle['new_column'] = df_PreDataWrangle['column1'] / df_PreDataWrangle['column2']'''

Encode Categorical Data

In [ ]:
'''
df_PreDataWrangle = pd.get_dummies(df_PreDataWrangle, columns=['categorical_column'])  # One-hot
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_PreDataWrangle['ordinal_column'] = le.fit_transform(df_PreDataWrangle['ordinal_column'])
'''

Normalize or Scale Numerical Features

In [ ]:
'''
from sklearn.preprocessing import StandardScaler, MinMaxScaler

scaler = StandardScaler()  # Or MinMaxScaler()
df_PreDataWrangle['scaled_column'] = scaler.fit_transform(df_PreDataWrangle[['numerical_column']])
'''

Save or Export the Cleaned Data

In [ ]:
'''df_PreDataWrangle.to_csv('Thyroid_Cleaned.csv', index=False)'''