Thyroid Data Wrangling

Initial set up

In [1]:
# Import Common Libraries 
import pandas as pd
import numpy as np

In [2]:
# Load Data
file_path = "Thyroid_Diff.csv"
df = pd.read_csv(file_path)

Quick Explore

In [3]:
# Display the first few rows
df.head()

,Age,Gender,Smoking,Hx Smoking,Hx Radiothreapy,Thyroid Function,Physical Examination,Adenopathy,Pathology,Focality,Risk,T,N,M,Stage,Response,Recurred
0,27,F,No,No,No,Euthyroid,Single nodular goiter-left,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Indeterminate,No
1,34,F,No,Yes,No,Euthyroid,Multinodular goiter,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,No
2,30,F,No,No,No,Euthyroid,Single nodular goiter-right,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,No
3,62,F,No,No,No,Euthyroid,Single nodular goiter-right,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,No
4,62,F,No,No,No,Euthyroid,Multinodular goiter,No,Micropapillary,Multi-Focal,Low,T1a,N0,M0,I,Excellent,No

In [4]:
# Display the last few rows
df.tail()

,Age,Gender,Smoking,Hx Smoking,Hx Radiothreapy,Thyroid Function,Physical Examination,Adenopathy,Pathology,Focality,Risk,T,N,M,Stage,Response,Recurred
378,72,M,Yes,Yes,Yes,Euthyroid,Single nodular goiter-right,Right,Papillary,Uni-Focal,High,T4b,N1b,M1,IVB,Biochemical Incomplete,Yes
379,81,M,Yes,No,Yes,Euthyroid,Multinodular goiter,Extensive,Papillary,Multi-Focal,High,T4b,N1b,M1,IVB,Structural Incomplete,Yes
380,72,M,Yes,Yes,No,Euthyroid,Multinodular goiter,Bilateral,Papillary,Multi-Focal,High,T4b,N1b,M1,IVB,Structural Incomplete,Yes
381,61,M,Yes,Yes,Yes,Clinical Hyperthyroidism,Multinodular goiter,Extensive,Hurthel cell,Multi-Focal,High,T4b,N1b,M0,IVA,Structural Incomplete,Yes
382,67,M,Yes,No,No,Euthyroid,Multinodular goiter,Bilateral,Papillary,Multi-Focal,High,T4b,N1b,M0,IVA,Structural Incomplete,Yes

In [5]:
# get random sample of df 

'''
# Get random rows
df.sample(n=5, random_state=42)

# Get 10% of rows randomly
df.sample(frac=0.01,random_state=42)

# To get stratified sample based on a column
df.groupby('column_name').sample(n=2)

# get remaining samples
remaining = df.drop(sample.index)
'''

df.sample(n=5, random_state=42)

,Age,Gender,Smoking,Hx Smoking,Hx Radiothreapy,Thyroid Function,Physical Examination,Adenopathy,Pathology,Focality,Risk,T,N,M,Stage,Response,Recurred
268,32,F,No,No,No,Euthyroid,Single nodular goiter-left,No,Papillary,Uni-Focal,Low,T3a,N0,M0,I,Excellent,No
250,30,F,No,No,No,Subclinical Hypothyroidism,Normal,Right,Follicular,Uni-Focal,Low,T3a,N0,M0,I,Excellent,No
318,30,F,No,No,No,Euthyroid,Multinodular goiter,Bilateral,Papillary,Multi-Focal,Intermediate,T3a,N1b,M0,I,Structural Incomplete,Yes
331,51,F,No,No,No,Euthyroid,Single nodular goiter-left,No,Follicular,Uni-Focal,Intermediate,T3a,N0,M0,I,Structural Incomplete,Yes
56,43,F,No,Yes,No,Euthyroid,Single nodular goiter-right,No,Papillary,Uni-Focal,Low,T1b,N0,M0,I,Excellent,No

In [6]:
# Display column names and data types
    # there are 383 entries and each columns's non null count are 383 so no null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383 entries, 0 to 382
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   383 non-null    int64
 1   Gender                383 non-null    object
 2   Smoking               383 non-null    object
 3   Hx Smoking            383 non-null    object
 4   Hx Radiothreapy       383 non-null    object
 5   Thyroid Function      383 non-null    object
 6   Physical Examination  383 non-null    object
 7   Adenopathy            383 non-null    object
 8   Pathology             383 non-null    object
 9   Focality              383 non-null    object
 10  Risk                  383 non-null    object
 11  T                     383 non-null    object
 12  N                     383 non-null    object
 13  M                     383 non-null    object
 14  Stage                 383 non-null    object
 15  Response              383 non-null    object
 16  Recurred              383 non-null    object
dtypes: int64(1), object(16)
memory usage: 51.0+ KB

In [7]:
# Get the shape of the DataFrame
print(df.shape)

(383, 17)

In [8]:
# reshape
    # not needed
'''
melted_df = pd.melt(df, id_vars=['id'], value_vars=['col1', 'col2'])
pivoted_df = melted_df.pivot(index='id', columns='variable', values='value')
'''

"\nmelted_df = pd.melt(df, id_vars=['id'], value_vars=['col1', 'col2'])\npivoted_df = melted_df.pivot(index='id', columns='variable', values='value')\n"

In [9]:
# Display basic statistical details
    # 'count' is useless but the rest of the descriptive statistics may be useful
df.describe()

              Age
count  383.000000
mean    40.866841
std     15.134494
min     15.000000
25%     29.000000
50%     37.000000
75%     51.000000
max     82.000000

Handle Missing Data

In [10]:
# double Check for missing values
    # double check and looks like no null values
df.isnull().sum()

Age                     0
Gender                  0
Smoking                 0
Hx Smoking              0
Hx Radiothreapy         0
Thyroid Function        0
Physical Examination    0
Adenopathy              0
Pathology               0
Focality                0
Risk                    0
T                       0
N                       0
M                       0
Stage                   0
Response                0
Recurred                0
dtype: int64

In [11]:
# fill in missing values
    # not needed as no missing values
'''
# Fill missing values with a specific value
df['column_name'].fillna(value, inplace=True)

# Fill missing values with the mean, median, or mode
df['column_name'].fillna(df['column_name'].mean(), inplace=True)

# Drop rows or columns with missing values
df.dropna(axis=0, inplace=True)  # Drop rows
df.dropna(axis=1, inplace=True)  # Drop columns
'''

"\n# Fill missing values with a specific value\ndf['column_name'].fillna(value, inplace=True)\n\n# Fill missing values with the mean, median, or mode\ndf['column_name'].fillna(df['column_name'].mean(), inplace=True)\n\n# Drop rows or columns with missing values\ndf.dropna(axis=0, inplace=True)  # Drop rows\ndf.dropna(axis=1, inplace=True)  # Drop columns\n"

Handle Duplicates

In [12]:
# Check for duplicates
df.duplicated().sum()

19

In [13]:
# Display all duplicate rows
    # appears all the duplicates are real data. It's because they don't have the names of the patients due to patient privacy, thus some data look similar.
    # of course this is just an assumption, but will continue with the data under this assumption.
df_duplicates = df[df.duplicated()]
df_duplicates.head()

,Age,Gender,Smoking,Hx Smoking,Hx Radiothreapy,Thyroid Function,Physical Examination,Adenopathy,Pathology,Focality,Risk,T,N,M,Stage,Response,Recurred
32,36,F,No,No,No,Euthyroid,Single nodular goiter-right,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,No
38,40,F,No,No,No,Euthyroid,Single nodular goiter-right,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,No
40,51,F,No,No,No,Euthyroid,Single nodular goiter-right,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,No
66,35,F,No,No,No,Euthyroid,Single nodular goiter-right,No,Papillary,Uni-Focal,Low,T1b,N0,M0,I,Excellent,No
69,51,F,No,No,No,Euthyroid,Single nodular goiter-left,No,Papillary,Uni-Focal,Low,T1b,N0,M0,I,Excellent,No

In [14]:
# Drop duplicates
    # not needed as assume no duplicate data
'''
df.drop_duplicates(inplace=True)
'''

'\ndf.drop_duplicates(inplace=True)\n'

Renaming

In [15]:
# renaming
    # I replaced the space with an underscore in all column names
    # I correct the typo in 'Hx Radiothreapy'
    # I changed 'Recurred' to 'Recurrence' which is proper and removes ambiguity for people with medical knowledge.
'''
# override all column names
df.columns = ['col1', 'col2', 'col3']
'''

# Rename specific columns
df.rename(columns={
    'Hx Smoking': 'Hx_Smoking',
    'Hx Radiothreapy': 'Hx_Radiotherapy',
    'Thyroid Function': 'Thyroid_Function',
    'Physical Examination': 'Physical_Examination',
    'Recurred':'Recurrence'
    }, inplace=True)

In [16]:
# check if columns are renamed
    # using pd.series as like how it looks in a vertical column 
pd.Series(df.columns)

0                      Age
1                   Gender
2                  Smoking
3               Hx_Smoking
4          Hx_Radiotherapy
5         Thyroid_Function
6     Physical_Examination
7               Adenopathy
8                Pathology
9                 Focality
10                    Risk
11                       T
12                       N
13                       M
14                   Stage
15                Response
16              Recurrence
dtype: object

Check unique values in each column

In [17]:
# check each column for unique values
    #  as mainly looking for columns with only 2 unique values which I can convert them in binary 0s and 1s

def unique_values_selected_columns(df, selected_columns='all'):
    binary_columns = []  # List to store tuples of columns with exactly two unique values
    unary_columns = []  # List to store tuples of columns with exactly one unique value
    
    # If 'all' is passed, use all columns in the DataFrame
    if selected_columns == 'all':
        selected_columns = df.columns.tolist()

    # Check if selected columns exist in the DataFrame
    for col_name in selected_columns:
        if col_name in df.columns:
            print(f"Unique values and counts for column: '{col_name}'")
            
            # Get unique values and their counts
            unique_counts = df[col_name].value_counts()

            # Reset index to get a DataFrame and rename columns properly
            unique_count_df = unique_counts.reset_index()
            unique_count_df.columns = [col_name, 'count']  # Rename columns correctly

            print(unique_count_df)
            print("-" * 40)  # Separator for readability

            # Check if the column has exactly two unique values
            if len(df[col_name].unique()) == 2:
                # Extract the two unique values
                unique_values = df[col_name].unique()
                binary_value_1, binary_value_2 = unique_values[0], unique_values[1]

                # Create a tuple with column name and the two unique values
                binary_columns.append((col_name, str(binary_value_1), str(binary_value_2)))

            # Check if the column has exactly one unique value
            elif len(df[col_name].unique()) == 1:
                # Get the single unique value
                unique_value = df[col_name].unique()[0]

                # Create a tuple with column name and the single unique value
                unary_columns.append((col_name, str(unique_value)))  # Add column to unary list

        else:
            print(f"Column '{col_name}' does not exist in the DataFrame.")
            print("-" * 40)  # Separator for readability
    
    # Print warning if there are columns with only one unique value
    if unary_columns:
        print("WARNING: The following columns have only 1 unique value:")
        print(unary_columns)
        print("-" * 40)  # Separator for readability
    else:
        print()
        print("FUNCTION FINISHED, detected no columns with only one unique values which is good.")
    
    # Return the list of binary columns as tuples and unary columns as tuples
    return binary_columns, unary_columns

In [18]:
binary_columns, unary_columns = unique_values_selected_columns(df, 'all')

Unique values and counts for column: 'Age'
    Age  count
0    31     22
1    27     13
2    40     12
3    26     12
4    28     12
..  ...    ...
60   79      1
61   18      1
62   69      1
63   76      1
64   78      1

[65 rows x 2 columns]
----------------------------------------
Unique values and counts for column: 'Gender'
  Gender  count
0      F    312
1      M     71
----------------------------------------
Unique values and counts for column: 'Smoking'
  Smoking  count
0      No    334
1     Yes     49
----------------------------------------
Unique values and counts for column: 'Hx_Smoking'
  Hx_Smoking  count
0         No    355
1        Yes     28
----------------------------------------
Unique values and counts for column: 'Hx_Radiotherapy'
  Hx_Radiotherapy  count
0              No    376
1             Yes      7
----------------------------------------
Unique values and counts for column: 'Thyroid_Function'
              Thyroid_Function  count
0                    Euthyroid    332
1     Clinical Hyperthyroidism     20
2   Subclinical Hypothyroidism     14
3      Clinical Hypothyroidism     12
4  Subclinical Hyperthyroidism      5
----------------------------------------
Unique values and counts for column: 'Physical_Examination'
          Physical_Examination  count
0          Multinodular goiter    140
1  Single nodular goiter-right    140
2   Single nodular goiter-left     89
3                       Normal      7
4               Diffuse goiter      7
----------------------------------------
Unique values and counts for column: 'Adenopathy'
  Adenopathy  count
0         No    277
1      Right     48
2  Bilateral     32
3       Left     17
4  Extensive      7
5  Posterior      2
----------------------------------------
Unique values and counts for column: 'Pathology'
        Pathology  count
0       Papillary    287
1  Micropapillary     48
2      Follicular     28
3    Hurthel cell     20
----------------------------------------
Unique values and counts for column: 'Focality'
      Focality  count
0    Uni-Focal    247
1  Multi-Focal    136
----------------------------------------
Unique values and counts for column: 'Risk'
           Risk  count
0           Low    249
1  Intermediate    102
2          High     32
----------------------------------------
Unique values and counts for column: 'T'
     T  count
0   T2    151
1  T3a     96
2  T1a     49
3  T1b     43
4  T4a     20
5  T3b     16
6  T4b      8
----------------------------------------
Unique values and counts for column: 'N'
     N  count
0   N0    268
1  N1b     93
2  N1a     22
----------------------------------------
Unique values and counts for column: 'M'
    M  count
0  M0    365
1  M1     18
----------------------------------------
Unique values and counts for column: 'Stage'
  Stage  count
0     I    333
1    II     32
2   IVB     11
3   III      4
4   IVA      3
----------------------------------------
Unique values and counts for column: 'Response'
                 Response  count
0               Excellent    208
1   Structural Incomplete     91
2           Indeterminate     61
3  Biochemical Incomplete     23
----------------------------------------
Unique values and counts for column: 'Recurrence'
  Recurrence  count
0         No    275
1        Yes    108
----------------------------------------

FUNCTION FINISHED, detected no columns with only one unique values which is good.

In [19]:
# print out a list of all the column names with only 2 unique values which I can convert them in binary 0s and 1s
binary_columns

[('Gender', 'F', 'M'),
 ('Smoking', 'No', 'Yes'),
 ('Hx_Smoking', 'No', 'Yes'),
 ('Hx_Radiotherapy', 'No', 'Yes'),
 ('Focality', 'Uni-Focal', 'Multi-Focal'),
 ('M', 'M0', 'M1'),
 ('Recurrence', 'No', 'Yes')]

Change Data Types

In [20]:
# old methods
'''
df['Smoking'].replace({'Yes': 1, 'No': 0}, inplace=True) 
df['column_name'] = df['column_name'].astype('int')
df['column_name'] = pd.to_datetime(df['column_name'])
'''

# Convert 'yes' or 'no' in column to binary 1 or 0
def convert_column_to_binary(df, col_name, value_to_1, value_to_0):
    '''
    Will convert specified values to binary 1 and 0 based on user input
    and return the updated dataframe, along with lists of incompatible values and rows.
    '''
    
    incompatible_tuples = []  # List to record incompatible values (as tuples)
    incompatible_rows = []  # List to record rows with incompatible values

    # Iterate through the dataframe
    for idx, value in df[col_name].items():
        # Strip spaces and convert to lowercase for comparison
        cleaned_value = str(value).strip().lower()
        
        # Check for incompatible values: value is not one of [value_to_1, value_to_0, 1, 0]
        if cleaned_value not in [value_to_1.lower(), value_to_0.lower(), '1', '0']:
            incompatible_tuples.append((idx, value))  # Record incompatible value with row index
            incompatible_rows.append(idx)  # Record row index of incompatible value
    
    # If there is at least one incompatible value, return the original dataframe and lists
    if len(incompatible_tuples) != 0:
        print(f'{col_name} column has {len(incompatible_rows)} incompatible rows')
        return df, incompatible_tuples, incompatible_rows     
    else: 
        # Otherwise, replace the specified value_to_1 with 1 and value_to_0 with 0
        df[col_name] = df[col_name].apply(
            lambda x: 1 if str(x).strip().lower() == value_to_1.lower() 
            else (0 if str(x).strip().lower() == value_to_0.lower() else x)
        )
        
        # Convert the column data type to int if no incompatibles
        df[col_name] = df[col_name].astype(int)

        # Feedback that conversion was successful
        print(f'{col_name} column has been fully converted')
    
    # Return the updated dataframe and the lists of incompatibles
    return df, incompatible_tuples, incompatible_rows

In [21]:
# Convert these 'yes' 'no columns into binary '1s' '0s' as to make future data science tasks easier

df, incompatible_tuples, incompatible_rows = convert_column_to_binary(df, 'Gender', 'M', 'F')
df, incompatible_tuples, incompatible_rows = convert_column_to_binary(df, 'Smoking', 'yes', 'no')
df, incompatible_tuples, incompatible_rows = convert_column_to_binary(df, 'Hx_Smoking', 'yes', 'no')
df, incompatible_tuples, incompatible_rows = convert_column_to_binary(df, 'Hx_Radiotherapy', 'yes', 'no')
df, incompatible_tuples, incompatible_rows = convert_column_to_binary(df, 'Focality', 'Uni-Focal', 'Multi-Focal')
df, incompatible_tuples, incompatible_rows = convert_column_to_binary(df, 'M', 'M1', 'M0')
df, incompatible_tuples, incompatible_rows = convert_column_to_binary(df, 'Recurrence', 'yes', 'no')
df, incompatible_tuples, incompatible_rows = convert_column_to_binary(df, 'Adenopathy', 'yes', 'no')
    # test 'Adenopathy' as want to test out the function

Gender column has been fully converted
Smoking column has been fully converted
Hx_Smoking column has been fully converted
Hx_Radiotherapy column has been fully converted
Focality column has been fully converted
M column has been fully converted
Recurrence column has been fully converted
Adenopathy column has 106 incompatible rows

In [22]:
df.head()

,Age,Gender,Smoking,Hx_Smoking,Hx_Radiotherapy,Thyroid_Function,Physical_Examination,Adenopathy,Pathology,Focality,Risk,T,N,M,Stage,Response,Recurrence
0,27,0,0,0,0,Euthyroid,Single nodular goiter-left,No,Micropapillary,1,Low,T1a,N0,0,I,Indeterminate,0
1,34,0,0,1,0,Euthyroid,Multinodular goiter,No,Micropapillary,1,Low,T1a,N0,0,I,Excellent,0
2,30,0,0,0,0,Euthyroid,Single nodular goiter-right,No,Micropapillary,1,Low,T1a,N0,0,I,Excellent,0
3,62,0,0,0,0,Euthyroid,Single nodular goiter-right,No,Micropapillary,1,Low,T1a,N0,0,I,Excellent,0
4,62,0,0,0,0,Euthyroid,Multinodular goiter,No,Micropapillary,0,Low,T1a,N0,0,I,Excellent,0

In [23]:
df.tail()

,Age,Gender,Smoking,Hx_Smoking,Hx_Radiotherapy,Thyroid_Function,Physical_Examination,Adenopathy,Pathology,Focality,Risk,T,N,M,Stage,Response,Recurrence
378,72,1,1,1,1,Euthyroid,Single nodular goiter-right,Right,Papillary,1,High,T4b,N1b,1,IVB,Biochemical Incomplete,1
379,81,1,1,0,1,Euthyroid,Multinodular goiter,Extensive,Papillary,0,High,T4b,N1b,1,IVB,Structural Incomplete,1
380,72,1,1,1,0,Euthyroid,Multinodular goiter,Bilateral,Papillary,0,High,T4b,N1b,1,IVB,Structural Incomplete,1
381,61,1,1,1,1,Clinical Hyperthyroidism,Multinodular goiter,Extensive,Hurthel cell,0,High,T4b,N1b,0,IVA,Structural Incomplete,1
382,67,1,1,0,0,Euthyroid,Multinodular goiter,Bilateral,Papillary,0,High,T4b,N1b,0,IVA,Structural Incomplete,1

In [24]:
df.info() # see all the binary columns has their dtypes converted to int32

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383 entries, 0 to 382
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   383 non-null    int64
 1   Gender                383 non-null    int32
 2   Smoking               383 non-null    int32
 3   Hx_Smoking            383 non-null    int32
 4   Hx_Radiotherapy       383 non-null    int32
 5   Thyroid_Function      383 non-null    object
 6   Physical_Examination  383 non-null    object
 7   Adenopathy            383 non-null    object
 8   Pathology             383 non-null    object
 9   Focality              383 non-null    int32
 10  Risk                  383 non-null    object
 11  T                     383 non-null    object
 12  N                     383 non-null    object
 13  M                     383 non-null    int32
 14  Stage                 383 non-null    object
 15  Response              383 non-null    object
 16  Recurrence            383 non-null    int32
dtypes: int32(7), int64(1), object(9)
memory usage: 40.5+ KB

Filter Data

In [25]:
# Filter data
    # not needed
'''filtered_df = df[df['column_name'] > value]'''

"filtered_df = df[df['column_name'] > value]"

Select & Drop Columns

In [26]:
# select and drop columns
    # not needed

'''
df.drop(columns=['col1', 'col2'], inplace=True)
'''

"\ndf.drop(columns=['col1', 'col2'], inplace=True)\n"

Modify & Group Data

In [27]:
# Modify Columns
    # not needed

'''
df['new_column'] = df['col1'] + df['col2']
df['modified_col'] = df['column_name'].apply(lambda x: x**2)"Capstone 2 - Thyroid Disease.pdf"
'''

'\ndf[\'new_column\'] = df[\'col1\'] + df[\'col2\']\ndf[\'modified_col\'] = df[\'column_name\'].apply(lambda x: x**2)"Capstone 2 - Thyroid Disease.pdf"\n'

In [28]:
# Group and Aggregate data

'''
grouped = df.groupby('column_name').agg({'col1': 'sum', 'col2': 'mean'})
grouped.reset_index(inplace=True)
'''

"\ngrouped = df.groupby('column_name').agg({'col1': 'sum', 'col2': 'mean'})\ngrouped.reset_index(inplace=True)\n"

Sort Columns

In [29]:
# Sort columns 
    # not needed

'''
df.sort_values(by='column_name', ascending=True, inplace=True)
'''

"\ndf.sort_values(by='column_name', ascending=True, inplace=True)\n"

Handle Outliers

In [30]:
# Detect Outliers

def detect_outliers(df, col_name):
    # Check if the column exists in the DataFrame
    if col_name not in df.columns:
        raise ValueError(f"Column '{col_name}' not found in the DataFrame.")
    
    # Calculate Q1, Q3, and IQR for the specified column
    Q1 = df[col_name].quantile(0.25)
    Q3 = df[col_name].quantile(0.75)
    IQR = Q3 - Q1
    
    # Define the lower and upper bounds for outliers
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # Find outliers: values outside the bounds
    outliers = df[(df[col_name] < lower_bound) | (df[col_name] > upper_bound)]
    
    # Get the list of outlier rows and values as tuples (index, value)
    outlier_tuples = list(outliers[[col_name]].itertuples(index=True, name=None))
    
    # List of just the outlier rows
    outlier_rows = outliers.index.tolist()
    
    # Determine if there are any outliers and print the appropriate message
    if len(outlier_rows) == 0:
        print(f"{col_name} column has no outliers.")
    else:
        print(f"{col_name} column has {len(outlier_rows)} outliers.")
    
    # Return a tuple with the requested information
    return (lower_bound, Q1, IQR, Q3, upper_bound), outlier_tuples, outlier_rows

In [31]:
# age is the only column with a continuous range of numbers so will see if any age is considered an outlier
outlier_detection_stat, outliers, outlier_rows = detect_outliers(df, 'Age')

Age column has no outliers.

Scaling & normalizing data

In [32]:
# scaling and normalizing data
    # not needed

'''
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df['scaled_column'] = scaler.fit_transform(df[['original_column']])

df['log_scaled_column'] = np.log(df['original_column'] + 1)  # Add 1 to avoid log(0)
'''

"\nfrom sklearn.preprocessing import MinMaxScaler\n\nscaler = MinMaxScaler()\ndf['scaled_column'] = scaler.fit_transform(df[['original_column']])\n\ndf['log_scaled_column'] = np.log(df['original_column'] + 1)  # Add 1 to avoid log(0)\n"

Clean string data

In [33]:
# clean string data
    # not needed
'''
df['column_name'] = df['column_name'].str.lower()
df['column_name'] = df['column_name'].str.replace('old', 'new')
'''

"\ndf['column_name'] = df['column_name'].str.lower()\ndf['column_name'] = df['column_name'].str.replace('old', 'new')\n"

Export Clean Data

In [34]:
# Save the cleaned DataFrame to a new CSV file
df.to_csv('Thyroid_Diff_cleaned.csv', index=False)